<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="fundamentals/travel_bug/static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" href="static/css/mystyle.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Results</title>
</head>

<body class="bg-info text-white">
    <div class="container grey">

        <div class="flex-container text-center">
            <h1 class="majority-width bg-light text-info ">Welcome {{user.first_name}} {{user.last_name}}</h1>
            <div class="text-right">
                
                <a class=" text-info btn btn-light" href="/dashboard">Dashboard</a>
                <a class="text-info btn btn-light" href="/logout">Log Out</a>
            </div>
        </div>
        <br><br>
        <div>
            <h1 class="text-center">{{location.title}}</h1>
        </div>
        <br><br>
        <form>

            <div class="container with-border white">
                <div class="flex-container">
                <h2 class="text-center">Description:</h2>
                <br>
                <h3 class="majority-width text-center">{{location.description}}</h3>
                </div>
                <div class="flex-container">
                
    
            </div>
        </form>
    </div>

</body>
<style>

    body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    thead th{
    font-size: 25px;
    }
    h1 {
        font-size: 50px;
        border: 2px solid white;
        border-radius: 10px;
    }
    form {
        border: 2px solid white;
        border-radius: 10px;
        padding: 5px;
    }
    

</style>
</html>